.collapsible {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    color: black;
}

.content {
    padding: 10px;
    border: 1px solid black;
    margin-top: -1px;
    color: black;
}

.outer-content {
    display: none;
}

.inner-content {
    display: block;
}

#p_information_header, #p_information_list_element, #p_information_subheading {
    font-weight: bolder;
    font-family: 'Aeonik Pro', sans-serif;
}

pre {
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Mozilla */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* IE 5.5+ */
}