<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a command</title>
    <style>
        button {
            margin-top: 10px;
        }
    </style>
    <link rel="stylesheet" href="../static/style/basic_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
<div class="vertical-bar">
    <a href="general-settings">General</a>
    <a href="port-scanning-settings">Port Scanning</a>
    <a href="host-discovery-settings">Host Discovery</a>
    <a href="advanced-settings">Advanced Settings</a>
    <a href="add-commands" class="active">Add Commands</a>
    <a href="previous-scans">Previous Scans</a>
</div>
<div class="content">
    <button onclick="window.location.href='/'">Homepage</button>
    <h4>Type <span style="color: #FFA400">"{target}"</span> anywhere in the input to visualise the command!</h4>
    <h4>Some examples are: "sslscan {target}:443" Or "curl -L https://{target}/"!</h4>
    <form action="/add-commands" method="POST">
        <input type="text" id="command-input" name="command" style="width: 30%; margin-top: 10px;">
        <button type="submit">Submit</button>
    </form>
    <h4 id="command-display" style="color: red"></h4>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#command-input').on('input', function () {
                var inputText = $(this).val();
                var targetValue = '{{ config["targets"].split(",")[0].strip() }}';
                var updatedText = inputText.replace('{target}', targetValue);
                $('#command-display').html('The command will be run exactly as:<br>' + updatedText);
            });
        });
    </script>

    {% if extra_commands %}
    <h4>Extra command(s) to be run:</h4>
    <div id="commands-display">
        <form action="/remove-extra-command" method="POST">
            {% for command in extra_commands %}
            <p>{{ command }}
                <button type="submit" name="command" value="{{ command }}" style="color: white; background-color: red;">
                    Remove
                </button>
                <button type="button" class="edit-command" data-command="{{ command }}"
                        data-line-number="{{ loop.index0 }}" style="color: white; background-color: #FFA400;">Edit
                </button>
            </p>
            {% endfor %}
        </form>
    </div>
    <div id="edit-command-form" style="display: none;">
        <h4>Edit Command:</h4>
        <form action="/edit-command" method="POST">
            <input type="hidden" id="original-command" name="original_command">
            <input type="hidden" id="line-number" name="line_number">
            <input type="text" id="edit-command-input" name="edited_command" style="width: 30%; margin-top: 10px;">
            <button type="submit">Save Changes</button>
        </form>
    </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('.edit-command').click(function () {
                var command = $(this).data('command');
                var lineNumber = $(this).data('line-number');
                $('#original-command').val(command);
                $('#line-number').val(lineNumber);
                $('#edit-command-input').val(command);
                $('#edit-command-form').show();
            });
        });
    </script>
</div>
</body>
</html>