<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a command</title>
    <style>
        button {
            margin-top: 10px;
        }

        textarea {
            width: 20%;
            height: 150px;
            margin-top: 10px;
            font-family: monospace;
            font-size: 14px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
<button onclick="window.location.href='/'">Back</button><br>
<h4>Type "{target}" anywhere in the input to visualise the command!</h4>
<h4>An example would be: "sslscan {target}:443"!</h4>
<h4></h4>
<form action="/add-commands" method="POST">
    <input type="text" id="command-input" name="command" style="width: 30%; margin-top: 10px;">
    <button type="submit">Submit</button>
</form>
<h4 id="command-display" style="color: red"></h4>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#command-input').on('input', function() {
            var inputText = $(this).val();
            var targetValue = '{{config[0]["single_target"] }}';
            var updatedText = inputText.replace('{target}', targetValue);
            $('#command-display').html('The command will be run exactly as:<br>' + updatedText);
        });
    });
</script>

{% if extra_commands %}
    <h4>Extra command(s) to be run:</h4>
    <div id="commands-display">
        <form action="/remove-extra-command" method="POST">
            {% for command in extra_commands %}
                <p>{{ command }}
                    <button type="submit" name="command" value="{{ command }}">Remove Command</button>
                </p>
            {% endfor %}
        </form>
    </div>
{% endif %}
</body>
</html>