<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration</title>
    <link rel="stylesheet" href="../static/style/basic_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <div class="vertical-bar">
        <a href="general-settings">General</a>
        <a href="port-scanning-settings">Port Scanning</a>
        <a href="host-discovery-settings">Host Discovery</a>
        <a href="advanced-settings" class="active">Advanced Settings</a>
    </div>

    <div class="content">
        <h2>View and edit current config that the tool will use:</h2>
    </div>
</body>
</html>