<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous scan on a single target</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/single_target_result.js"></script>
    <link rel="stylesheet" href="../static/style/results_style.css">
</head>
<body>
<h1 style="color: #FFA400">Scan Results From {{ result['scan_start_time'] }}</h1>
<button onclick="window.location.href='/previous-scans'">Back</button>
<!-- Outer collapsible for the entire target -->
<div class="collapsible outer-collapsible">{{ result['target'] }}</div>
<div class="content outer-content">
    <div class="results">

        <div class="collapsible">Nmap Output</div>
        <div class="content inner-content">
            <pre>{{ result['nmap_output'] }}</pre>
        </div>

        <div class="collapsible">Host Command Output</div>
        <div class="content inner-content">
            <pre>{{ result['host_output'] }}</pre>
        </div>

        <div class="collapsible">Metasploit Modules</div>
        <div class="content inner-content">
            <pre>{{ result['metasploit_output'] }}</pre>
        </div>

        <div class="collapsible">Ffuf subdomain enumeration output:</div>
        <div class="content inner-content">
            <pre>{{ result['subdomains_found'] }}</pre>
        </div>

        <div class="collapsible">DnsRecon Command Output</div>
        <div class="content inner-content">
            <pre>{{ result['dns_recon_output'] }}</pre>
        </div>

        <div class="collapsible">SMBClient Output</div>
        <div class="content inner-content">
            <pre>{{ result['smbclient_output'] }}</pre>
        </div>

        <div class="collapsible">FTP Result</div>
        <div class="content inner-content">
            <pre>{{ result['ftp_result'] }}</pre>
        </div>

        <div class="collapsible">Screenshot</div>
        <div class="content inner-content">
            {% if result['screenshot'] != 'No screenshot available' %}
            <img src="{{ result['screenshot'] }}" alt="Screenshot of target" style="width: 20%;">
            {% else %}
            <p>No screenshot available</p>
            {% endif %}
        </div>

        <div class="collapsible">Robots.txt Contents:</div>
        <div class="content inner-content">
            <pre>{{ result['robots_output'] }}</pre>
        </div>

        <div class="collapsible">Extra commands ran:</div>
        <div class="content inner-content">
            <pre>{% for command in result['extra_commands_output'] %}{{ command }}<br>{% endfor %}</pre>
        </div>

        <div class="collapsible">Recommendations:</div>
        <div class="content inner-content">
            <pre>{{ result['ai_advice'] }}</pre>
        </div>

    </div>
</div>

</body>
</html>
