<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Previous Scans</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: center;
        }

        .button-cell {
            border: none;
        }
    </style>
</head>
<body>
<h2>Previous Scans</h2>
<button onclick="window.location.href='/'">Back</button><br><br>
<table border="1" id="scansTable">
    <thead>
    <tr>
        <th>Target</th>
        <th>Scan start time</th>
        <th>Scan number</th>
        <th class="button-cell" style="border: none">
            <button id="sortButton" onclick="toggleSort()">Sort</button>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
    <tr>
        <td>{{ result['target'] }}</td>
        <td>{{ result['scan_start_time'] }}</td>
        <td>{{ result['scan_num'] }}</td>
        <td class="button-cell">
            <form action="{{ url_for('view_single_previous_scan') }}" method="post">
                <input type="hidden" name="scan_start_time" value="{{ result['scan_start_time'] }}">
                <button type="submit">View</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    let isAscending = false;

    function toggleSort() {
        const table = document.getElementById('scansTable').tBodies[0];
        const rows = Array.from(table.rows);

        rows.sort((a, b) => {
            const scanNumA = parseInt(a.cells[2].textContent, 10);
            const scanNumB = parseInt(b.cells[2].textContent, 10);
            return isAscending ? scanNumA - scanNumB : scanNumB - scanNumA;
        });

        rows.forEach(row => table.appendChild(row));

        isAscending = !isAscending;

        const sortButton = document.getElementById('sortButton');
        sortButton.textContent = isAscending ? 'Sort' : 'Sort';
    }

    document.addEventListener('DOMContentLoaded', () => {
        toggleSort();
    });
</script>
</body>
</html>
